$containerWidth: 940px;
$baseFontSize: 18px;

// colors
$blue: #1968b1;
$yellow: #fedb3f;

// breakpoints
$tablets: 768px;
$phones: 480px;
$phones-plus: 390px;

// z-indexs
$z-fixed-menu: 100;

// media
@import "./layout/madia.scss";

// normalize and reset settings
@import "./layout/normalize.scss";
@import "./layout/reset_style.scss";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");

// layout
@import "./layout/base.scss";

// fixed-menu
@import "./blocks/fixed-menu.scss";

// menu
@import "./blocks/menu.scss";

// overlay
@import "./blocks/overlay.scss";

// hero-section
@import "./blocks/header.scss";

@import "./blocks/burger.scss";

@import "./blocks/hero.scss";

@import "./blocks/advantages.scss";

@import "./blocks/button.scss";

// reused-section
@import "./blocks/section.scss";

// why-section
@import "./blocks/title-info.scss";
@import "./blocks/features.scss";

// product-section
@import "./blocks/slider.scss";
@import "./blocks/product.scss";
@import "./blocks/parameters.scss";
@import "./blocks/dropdown.scss";

// team-section
@import "./blocks/team.scss";
@import "./blocks/participant.scss";

// product-menu-section
@import "./blocks/product-menu.scss";

// reviews-section
@import "./blocks/reviews.scss";

// player-section
@import "./blocks/player.scss";

// order-section
@import "./blocks/form.scss";
@import "./blocks/radio.scss";
@import "./blocks/modal-form.scss";

// map-footer
@import "./blocks/map-footer.scss";
@import "./blocks/socials.scss";
