.dropdown-info {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  position: absolute;
  right: rem(-9000px);
  opacity: 0;
  transition: opacity 0.3s;
  max-width: rem(280px);

  &::before {
    content: "";
    display: block;
    min-height: 100%;
    min-width: 116%;
    top: 0;
    right: rem(-3000px);
    position: absolute;
  }
}

.dropdown-info__list {
  display: flex;
  flex-direction: column;
  padding: 8% 5%;
}

.dropdown-info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: rem(44px);

  &:last-child {
    margin-bottom: 0;
  }
}
