.parameter {
  margin: 0 rem(2px) rem(8px) 0;
}

.parameter__name {
  display: flex;
  align-items: center;
}

.parameter__icon {
  height: rem(32px);
  width: rem(32px);
}

.parameter__text {
  font-weight: 500;
  margin: 0 rem(15px);
}
