.participant {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;

  @include tablets {
    &:hover .participant__avatar--small-view {
      display: block;
    }
    &:hover .participant__desc {
      display: block;
    }
  }
}

.active {
  @include tablets {
    padding-bottom: 1%;
  }
}

.participant__avatar {
  margin-bottom: rem(20px);

  // @include tablets {
  //   display: none;
  // }
}

// .participant__avatar--small-view {
//   display: none;
//   @include tablets {
//     width: rem(220px);
//     height: rem(290px);
//     margin-bottom: rem(20px);
//     height: 0;
//     overflow: hidden;
//   }
// }

// .participant__avatar--small-view--active {
//   @include tablets {
//     height: 100%;
//     overflow: visible;
//     display: block;
//   }
// }

.participant__avatar-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include tablets {
    height: 50%;
    width: 50%;
  }
}

.participant__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: height 0.3s;

  // &:hover .participant__name--elem {
  //   transform: rotate(180deg);
  // }

  // &:hover .participant__desc {
  //   display: block;
  // }
}

.participant__name-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.participant__name {
  font-size: rem(21px);
  font-weight: 700;
  background-color: transparent;
  margin-bottom: rem(8px);

  &::after {
    content: "";
    margin-left: rem(4px);
    width: rem(9px);
    height: rem(9px);
    display: inline-block;
    background: url(../img/team/triangle.svg) center center no-repeat;
  }
}

.participant__name--active {
  &:after {
    transform: rotate(180deg);
  }
}

.participant__name--elem {
  margin-left: rem(4px);
}

.participant__content {
  height: 0;
  overflow: hidden;
}

.team--desktop-version .participant__content {
  position: absolute;
  top: 100%;
}

.participant__desc {
  // display: none;
  font-size: rem(18px);
  // margin-bottom: 10%;

  @include tablets {
    // margin-bottom: 3%;
  }
}

.participant__specialty {
  margin-bottom: rem(4px);
  font-weight: 700;
}

.participant__function {
  font-weight: 300;
  color: #666;
}
